.container {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #111111;
}

.container div {
    float: right;
    width: 200px;
    margin: 0;
}

.default div {
    flex-shrink: 1;
}

.shrink-off div {
    flex-shrink: 0;
}

.prefer-second div:nth-child(2) {
    flex-shrink: 2;
}
