.container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: space-between;
    width: 500px;
    height: 250px;
    border: 1px solid #111;
}

.default div:nth-child(3) {
    order: 0;
}

.beforeEveryone div:nth-child(3){
    order: -1;
}

.afterEveryone div:nth-child(3){
    order: 1;
}